


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body, html{
    font-family: Georgia, serif;
    color: #002400;
    scroll-behavior: smooth;
}
img{
    display: block;
}
span{
    background-color: #ffa500;
    padding: .2rem .2rem;
    border-radius: 5px;
    text-shadow: none;
}
a{
    color: #fff;
    background-color: #002400;
    padding: .2rem 1.2rem;
    border-radius: 5px;
    transition: all .3s;
}
a:hover{
    color: #002400;
    background-color: #ffa500;
    padding: .8rem 1.2rem;
}

/* navbar */
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #002400;
    font-weight: 600;
    z-index: 10;
}
.navlogo{
    font-size: 1.2rem;
}
.navlist a{
    padding: 0;
}
.navlist a:hover{
    border-radius: 5px;
    padding: .3rem .1rem;
}

/* welcome section */
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url(../img/welcome-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#welcome-section h1{
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #fff;
}
#welcome-section h2{
    margin-top: 20px;
    text-shadow: 1px 1px 3px #fff;
}

/* projects */
#projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lavender;
    margin: 0 auto;
    padding-top: 40px;
}
.project-title{
    padding-top: 10px;
}
.project-title h2{
    display: inline-block;
    border-left: 3px dotted #002400;
    border-right: 3px dotted #002400;
    padding-left: 2rem;
    padding-right: 2rem;
}
.project-tile{
    width: 100%;
    margin: 0 auto 20px;
    padding: 20px 30px;
}
.project-tile img{
    max-width: 100%;
    margin: 0 auto;
}
.project-tile h3{
    background-color: #ffa500;
    padding: 10px 0;
    text-decoration: underline;
}
.profile-link{
    padding-bottom: 70px;
}

/* contact */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url(../img/welcome-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact h1{
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #fff;
}
#contact a{
    margin: 20px 0;
}
#contact p{
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #fff;
}

/* media querie */
@media(min-width: 900px){
    span{
        padding: .2rem 2.2rem;
    }
    a{
        font-size: 150%;
        padding: .2rem 2.2rem;
    }
    a:hover{
        padding: .8rem 2.2rem;
    }
    .navlist a{
        padding: .2rem 1.2rem;
    }
    .navlist a:hover{
        padding: .3rem 2.2rem;
    }
    #welcome-section h1{
        font-size: 4rem;
    }
    #welcome-section h2{
        font-size: 2rem;
    }
    .project-title{
        padding: 20px 0;
    }
    .project-tile{
        width: 100%;
        max-width: 1400px;
        margin: 0;
        padding: 0;
    }
    #projects .tile-1, .tile-3{
        display: flex;
        flex-direction: row-reverse;
    }
    #projects .tile-2{
        display: flex;
        flex-direction: row;
    }
    .project-tile img{
        width: 50vw;
        margin: 0;
    }
    .project-tile h3{
        width: 50vw;
        padding-top: 50px;
    }
    .profile-link{
        padding: 50px 0 80px;
    }
    #contact h1{
        font-size: 3rem;
    }
    #contact a{
        margin-bottom: 50px;
    }
}